/* variables */
:root {
    --main-color-bg: rgb(42, 82, 190);
    --accent-color-1: #3F00FF;
    --accent-color-1-transluscent: rgba(63, 0, 255, .5);
    --accent-color-2: goldenrod;
    --accent-color-2-translucent: rgba(218, 165, 32, .75);
    --other-color-white: rgb(219, 219, 219);
    
}
/* Whole Doc Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* Body Styles*/
body {
    color: var(--other-color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--main-color-bg);

}

/* Header Styles */
header {
    z-index: 9999;
    display: flex;
    justify-content: center;
    flex: wrap;
    background-image: url('../images/camera-1.jpg');
    background-blend-mode:saturation;
    background-position: 15% 60%;
    background-size: cover;
    position: sticky;
    position: -webkit-sticky;
    max-height: 125px;
    align-items: center;
    top:0;
    border: 75px solid var(--accent-color-1-transluscent);
}

header h1 {
    font-weight: bold;
    font-size: 3.5vw;
    color: var(--primary-color);
    margin: 10px;
    text-shadow: 0 0 50px var(--other-color-white);
    text-align: center;
    background-color: none;
    padding: 5px;
}

header a {
    object-fit: contain;
    text-decoration: none;
    color: var(--accent-color-1);
  }

header img {
    object-position: 20% 80%;
    max-height: 125px;
    max-width: auto;
    border: 5px solid var(--accent-color-2-translucent);

}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex: wrap;
    color: var(--accent-color-1);
    align-items: center;
   list-style: none;
   margin: 5px;
}

header nav ul li {
    font-weight: lighter;
    font-size: 2vw;
    background: var(--accent-color-2-translucent);
    border-radius: 10%;
    margin: 5px;
    border: 3px solid var(--accent-color-2-translucent);
    align-items: center;
    text-align: center;

  }

  header nav ul li:hover {
    background: var(--accent-color-2);
    border-radius: 10%;
    text-shadow: none;
  }

  /* Body/whole page Styles */

.subheader {
    font-weight: bold;
    border-bottom: 4px solid var(--accent-color-2);
    position: static;
    font-size: 4vw;
    margin-bottom: 25px;
    justify-content: center;
  }

section {
    margin: 30px;
    padding: 20px;
    color: var(--other-color-white);
    
}

/* About Met Styles */

.about-me-text {
    font-size: 1.5vw;
}

/* Project Styles */
.project-cards {
    display: flex;
    position: relative; 
    flex-wrap: wrap;
    justify-content: space-around;
    object-fit: contain;
    margin: auto;

}

.project-cards a, .one-card div a {
    text-decoration: none;
    color: var(--other-color-white)
}

.one-card {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    border: 5px solid var(--accent-color-1);
    border-radius: 10%;
    margin: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
    flex: 1 40%;
}


.project-image img {
    width: 100%; 
    height: 100%;
    border-radius: 10%;
    box-shadow: 0 0 20px #aaaaaa;
}

.project-text {
    line-height: 1.5;
    font-size: 3vw;
    text-align: center;
}

.project-image img:hover {
    opacity: .65;
}

/* CONTACT Styles */

.contact-flex {
    display: flex;
    justify-content: center;
    flex:auto;
    color: var(--accent-color-2)
}

.contact-flex ul li {
    font-weight: lighter;
    font-size: 3vw;
    background: var(--accent-color-2-translucent);
    border-radius: 10%;
    margin: 6px;
    text-align: center;
    border: 3px solid var(--accent-color-2);
    list-style: none;
  }

  .contact-flex ul li:hover {
    background: var();
    border-radius: 10%;
    text-shadow: none;

  }

.contact-text li a {
    text-decoration: none;
    color: var(--accent-color-1)
}


/* MEDIA QUERIES */

 @media screen and (max-width: 980px){

    section {
        margin: 10px;
        padding: 10px;
        
    }

}

@media screen and (max-width: 768px){

    .about-me-text {
        font-size: 3.5vw;
    }

    .one-card {
        margin: 5px;
        padding: 10px;
    }

    header nav ul {
        flex-direction: column;
    }
    header nav ul li {
        font-weight: lighter;
        font-size: 2.5vw;
    }
    
    .contact-flex ul li {
         font-size: 4vw;
    }
}

@media screen and (max-width: 575px) {

header {
    max-width: cover;
}

.project-cards {
    flex-direction: column;
}

.one-card {
    justify-content: center;
   
}

header nav ul li {
    font-size: 4vw;
}
 
}